<div class="row row-search">
    <div class="col-sm-10 col-md-10">
        <!-- 1. datepicker FROM in the popup -->
   <span>From</span>
   <form class="form-inline">
     <div class="form-group">
       <div class="input-group">
         <input class="form-control" placeholder="yyyy-mm-dd"
                name="dp" [(ngModel)]="start" ngbDatepicker #a="ngbDatepicker">
         <div class="input-group-append">
           <button class="btn btn-outline-secondary" (click)="a.toggle()" type="button">
             <i class="fa fa-calendar"></i>
           </button>
         </div>
       </div>
     </div>
   </form>
   
     <!-- 2. datepicker TO in the popup -->
     <span>To</span>
     <form class="form-inline">
       <div class="form-group">
         <div class="input-group">
           <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="stop" ngbDatepicker #b="ngbDatepicker">
           <div class="input-group-append">
             <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
               <i class="fa fa-calendar"></i>
             </button>
           </div>
         </div>
       </div>
     </form>
     <!-- 3.Button for filter by range. -->
     <button class="btn btn-light btn-filter" (click)="filterRange()">GO</button>
     <button class="btn btn-light btn-refresh" (click)="refreshFilter()"><i class="fa fa-undo"></i></button>
    </div>
    <div class="col-sm-2 col-md-2">
      <div class="input-group search-form">
        <input class="form-control border-secondary" type="search" placeholder="Enter the exact email" [(ngModel)]="keyword">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="search(keyword)">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>





  <div class="row row-table">
    <div class="col-sm-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Activity</th>
              <th>Detail</th>
              <th>Happened at</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let obj of list | paginate: {id:'adminPaginate',itemsPerPage:limit,currentPage:p,totalItems:total};let i = index">
              <td>{{obj.id}}</td>
              <td>{{obj.emailAdmin}}</td>
              <td>{{obj.activity}}</td>
              <td>{{obj.detail }}</td>
              <td>{{obj.created_at| date: 'dd-MM-yyyy hh:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
        <!-- PAGINATION-CONTROLLER FOR SERVER_SIDE PAGINATION. -->
        <div class="has-text-centered">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls class="pagination-user" (pageChange)="getPage($event)" id="adminPaginate"></pagination-controls>
          </div>
      </div>
    </div>
  </div>