<div class="row row-search">
    <div class="col-sm-1 col-md-1">
     
    </div>
    <div class="offset-sm-9 offset-md-9 col-sm-2 col-md-2">
      <div class="input-group search-form">
        <input class="form-control border-secondary" type="search" placeholder="search" [(ngModel)]="keyword">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)=search(keyword)>
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-table">
    <div class="col-sm-12 col-lg-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Email</th>
              <th>Full Name</th>
              <th>Created At</th>
              <th>Sponsor ID</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let user of userPaginatedList | paginate: {id:'userPagination',itemsPerPage:limit,currentPage:p,totalItems:total};let i = index">
              <td>{{i+1}}</td>
              <td>{{user.email}}</td>
              <td>{{user.name}}</td>
              <td>{{user.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
              <td>{{user.sponsorId}}</td>
              <td style="color:red;">{{user.status==0 ? 'Banned' : 'Alive'}}</td>
              <td>
                <a href="javascript:void(0)" style="display:inline-block" (click)="confirm(confirmReactivated,i)">
                  <i class="fa fa-undo" style="color:green"></i>
                </a>
                <!-- <a href="javascript:void(0)" style="color:red;display:inline-block" (click)="doDelete(i,confirmDelete)">
                  <i class="fa fa-trash"></i>
                </a> -->
              </td>
            </tr>
          </tbody>
        </table>
        <!-- PAGINATION-CONTROLLER FOR SERVER_SIDE PAGINATION. -->
        <div class="has-text-centered">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls class="pagination-user" (pageChange)="getPage($event)" id="userPagination"></pagination-controls>
          </div>
      </div>
    </div>
  </div>


  <!-- MODAL DELETE USER. -->
  <ng-template class="modal" #confirmReactivated tabindex="-1" let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Do you want to reactivate this user?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        This user
        <span style="color:red">{{emailToBeReActivated}}</span> will be reactivated and be functional immediately!
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="activate(waitingModal)">Yes, do it!</button>
      <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No, it's a mistake</button>
    </div>
  </ng-template>

  <!-- MODAL WAITING. -->
<ng-template class="modal" #waitingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hold on... </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!boo_success">
      <img src="../../assets/Dual Ring-1s-13px.svg" alt="X">&nbsp;Be patient! The server is processing!
    </div>
    <div *ngIf="boo_success">
      {{msg_success}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c()" [disabled]="!boo_success">Ok</button>
  </div>
</ng-template>