<div class="row row-search">
  <div class="col-sm-1 col-md-1">
    <button type="button" class="btn btn-outline-dark addUserBtn" (click)="addUser(newUserForm)">
      <i class="fa fa-plus"></i> New User</button>
  </div>
  <div class="offset-sm-9 offset-md-9 col-sm-2 col-md-2">
    <div class="input-group search-form">
      <input class="form-control border-secondary" type="search" placeholder="search" [(ngModel)]="keyword">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)=search(keyword)>
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row row-table">
  <div class="col-sm-12 col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Email</th>
            <th>Full Name</th>
            <th *ngIf="!boolean_search">Created At</th>
            <th *ngIf="!boolean_search">Sponsor ID</th>
            <th *ngIf="!boolean_search">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let user of userPaginatedList | paginate: {id:'userPagination',itemsPerPage:limit,currentPage:p,totalItems:total};let i = index">
            <td>{{i+1}}</td>
            <td>{{user.email}}</td>
            <td>{{user.name}}</td>
            <td *ngIf="!boolean_search">{{user.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
            <td *ngIf="!boolean_search">{{user.sponsorId}}</td>
            <td *ngIf="!boolean_search">{{user.status==2 ? 'Unactive' : 'active'}}</td>
            <td>
              <a href="javascript:void(0)" style="display:inline-block" (click)="openDetail(content,i)">
                <i class="fa fa-edit"></i>
              </a>
              <a href="javascript:void(0)" style="color:red;display:inline-block" (click)="doDelete(i,confirmDelete)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- PAGINATION-CONTROLLER FOR SERVER_SIDE PAGINATION. -->
      <div class="has-text-centered">
          <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
          <pagination-controls class="pagination-user" (pageChange)="getPage($event)" id="userPagination"></pagination-controls>
        </div>
    </div>
  </div>
</div>

<!-- MODAL DETAIL USER. -->

<ng-template class="modal" #content let-c="close" let-d="dismiss">
  <div class="alert alert-danger" role="alert" *ngIf="updateAlert">
    {{updateMsg}}
  </div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detail Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="doUpdate(updateForm,waitingModal)" #updateForm="ngForm">
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="email" readonly [(ngModel)]="detail_User.email" >
        </div>
      </div>

      <div class="form-group row">
        <label for="detail_fullname" class="col-sm-3 col-form-label">Full Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_fullname" [(ngModel)]="detail_User.name" name="name" [readonly]="editBtn==='Edit'"
            [pattern]="regex_name">
        </div>
      </div>

      <div class="form-group row">
        <label for="detail_avatar" class="col-sm-3 col-form-label">Avatar URL</label>
        <div class="col-sm-8">
          <input type="url" class="form-control" id="detail_avatar" [(ngModel)]="detail_User.avatar_url" name="avatar_url" [readonly]="editBtn==='Edit'">
        </div>
      </div>

      <div class="form-group row">
        <label for="detail_country" class="col-sm-3 col-form-label">Country</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_country" [(ngModel)]="detail_User.country" name="country" [readonly]="editBtn==='Edit'"
            [pattern]="regex_country" #countryref="ngModel">
          <div *ngIf="countryref.errors && (countryref.touched||countryref.dirty)">
            <div class="validate-warning">
              Must not contain any number!
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="detail_sponsorId" class="col-sm-3 col-form-label">Sponsor</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_sponsorId" [(ngModel)]="detail_User.sponsorId" name="sponsorId" [readonly]="editBtn==='Edit'">
        </div>
      </div>

      <div class="form-group row">
        <label for="status" class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-8 statusArea">
          <input type="radio" name="status" [(ngModel)]="status==1 ? radio_box_true :radio_box_false" id="status" [value]="true"> Active
          <input type="radio" name="status" [(ngModel)]="status==2 ? radio_box_false :radio_box_true" [value]="false"> Unactive
        </div>
      </div>

      <div class="form-group row">
        <label for="detail_address" class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_address" [(ngModel)]="detail_User.address" name="address" [readonly]="editBtn==='Edit'">
        </div>
      </div>

      <div class="form-group row">
        <label for="detail_birthday" class="col-sm-3 col-form-label">Birthday</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_birthday" [(ngModel)]="detail_User.birthday" name="birthday" [readonly]="editBtn==='Edit'">
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark" [disabled]="disableUpdateBtn">
        <i class="fa fa-edit"></i> {{editBtn}}</button>
      <button type="button" style="float: right;" class="btn btn-outline-dark" (click)="closeDetail()">
        <i class="fa fa-ban"></i> Cancel</button>
    </form>
  </div>

</ng-template>
<!-- ===================================================================- -->

<!-- MODAL ADD USER. -->
<ng-template class="modal" #newUserForm let-c="close" let-d="dismiss">
  <div class="alert alert-danger" role="alert" *ngIf="addAlert">
    {{addUserMsg}}
  </div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create new user</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #addUserForm="ngForm" (ngSubmit)="doAddUser(addUserForm)">
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email
          <span style="color:red;">*</span>
        </label>
        <div class="col-sm-8 emailInput">
          <input style="display:inline-block" type="text" (blur)="checkMailAvailable(email)" [(ngModel)]="email" class="form-control"
            id="email" name="email" [pattern]="regex_email" #emailref="ngModel" required>
          <div *ngIf="(emailref.errors &&(emailref.touched || emailref.dirty))|| !boo_validForm ">
            <div class="validate-warning">
              {{validate_msgwarning}}
            </div>
          </div>
        </div>

      </div>

      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label"> Password
          <span style="color:red;">*</span>
        </label>
        <div class="col-sm-8">
          <input ngModel type="password" class="form-control" id="password" name="password" required #passwordref="ngModel" [pattern]="regex_password"
            required>
          <div *ngIf="passwordref.errors &&(passwordref.touched || passwordref.dirty)">
            <div class="validate-warning">
              Must contains uppercase character,lowercase character, special character and number!
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="fullname" class="col-sm-3 col-form-label">Full Name</label>
        <div class="col-sm-8">
          <input ngModel type="text" class="form-control" id="name" name="name">
        </div>

      </div>

      <div class="form-group row">
        <label for="country" class="col-sm-3 col-form-label">Country</label>
        <div class="col-sm-8">
          <input ngModel type="text" class="form-control" id="country" name="country">
        </div>

      </div>

      <div class="form-group row">
        <label for="address" class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-8">
          <input ngModel type="text" class="form-control" id="address" name="address">
        </div>

      </div>
      <div class="form-group row">
        <label for="sponsorId" class="col-sm-3 col-form-label">Sponsor</label>
        <div class="col-sm-8">
          <input ngModel type="text" class="form-control" id="sponsorId" name="sponsorId">
        </div>

      </div>
      <div class="form-group row">
        <label for="status" class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-8 statusArea">
          <input type="radio" value="1" name="status" ngModel id="status"> Active
          <input type="radio" value="2" name="status" ngModel> Unactive
        </div>
      </div>
      <button type="submit" class="btn btn-outline-dark">
        <i class="fa fa-user-plus"></i> Add</button>
      <button type="button" style="float: right;" class="btn btn-outline-dark" (click)="modalObj.close()">
        <i class="fa fa-ban"></i> Cancel</button>
    </form>
  </div>

</ng-template>
<!-- MODAL DELETE USER. -->
<ng-template class="modal" #confirmDelete tabindex="-1" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Do you want to ban this user?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      This user
      <span style="color:red">{{emailTobeDeleted}}</span> will be banned permanently!
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="delete(waitingModal)">Yes, do it!</button>
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No, it's a mistake</button>
  </div>
</ng-template>

<!-- MODAL WAITING. -->
<ng-template class="modal" #waitingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hold on... </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!boo_success">
      <img src="../../assets/Dual Ring-1s-13px.svg" alt="X">&nbsp;Be patient! The server is processing!
    </div>
    <div *ngIf="boo_success">
      {{msg_success}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c()" [disabled]="!boo_success">Ok</button>
  </div>
</ng-template>



