.wrapper-component{
    padding-right: 1.3vw;
    padding-top: 2vh;
    
}

.card-body span{
    float: right;
}
.pair-picker{
    float: right; 
}
.btn-filter,.btn-refresh{
    color: white;
    background-color: #2199e8;
    margin-bottom: 0.3vh;
}
/* .card{
    width: 25%;
    float: left;
} */
