<div class="wrapper-component">
  <div class="row">
      <div class="col-md-6">
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd"
                       name="dp" [(ngModel)]="time" ngbDatepicker #b="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                  <button class="btn btn-light btn-filter" (click)="goDate()">GO</button>
                  <button class="btn btn-light btn-refresh" (click)="refreshFilter()"><i class="fa fa-undo"></i></button>
                </div>
              </div>
            </div>
          </form>
        </div>
    <div class="col-md-6">
      <div class="pair-picker-wrap">
        <select (change)="pickpair($event.target.value)" class=" pair-picker">
          <option value="BTC-ETH">BTC-ETH</option>
          <option value="USDT-BCH">USDT-BCH</option>
          <option value="USDT-BTC">USDT-BTC</option>
          <option value="USDT-ETH">USDT-ETH</option>
          <option value="USDT-XRP">USDT-XRP</option>
          <option value="BTC-BCH">BTC-BCH</option>
          <option value="BTC-XRP">BTC-XRP</option>
          <option value="ETH-BCH">ETH-BCH</option>
          <option value="ETH-XRP">ETH-XRP</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Line 1. -->
  <div class="row">
    <div class="offset-md-3 col-md-3">
      <h4  style="text-align:right">Transaction</h4>
    </div>
    <div class="col-md-6">
      <h4>Order</h4>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-3">
      <div class="card card-default">
        <div class="card-header">Transaction Count</div>
        <div class="card-body">
          {{txCount}}
          <span>Txs</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-default">
        <div class="card-header">Order Count</div>
        <div class="card-body">
          {{orderCount}}
          <span>Orders</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p-chart type="line" [data]="data_tx" [options]="options"></p-chart>
    </div>
    <div class="col-md-6">
      <p-chart type="line" [data]="data_order" [options]="options"></p-chart>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-3">
      <h4  style="text-align:right">{{coin_name1}}</h4>
    </div>
    <div class="col-md-3">
      <h4>{{coin_name2}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="offset-md-3 col-md-3">
      <div class="card card-default">
        <div class="card-header">
          Balance
        </div>
        <div class="card-body">
          {{bal_1}}
          <span>{{coin_name1}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-default">
        <div class="card-header">
          Balance
        </div>
        <div class="card-body">
          {{bal_2}}
          <span>{{coin_name2}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p-chart type="line" [data]="data_dewi1" [options]="options"></p-chart>
    </div>
    <div class="col-md-6">
      <p-chart type="line" [data]="data_dewi2" [options]="options"></p-chart>
    </div>
  </div>


</div>