
<div *ngIf="login" class="loginForm container-fluid">
  <div class="login-wrap">
    <div class="alert alert-danger" role="alert" *ngIf="loginAlert">
      {{loginMsg}}
    </div>
    <div class="login-content">
      <div class="login-logo">
        <a href="">BITREX
          <span>ADMIN</span>
        </a>
      </div>
      <div class="login-form">
        <form (ngSubmit)="doLogin(loginForm,email)" #loginForm="ngForm">
          <div class="form-group">
            <label for="email">Email address:</label>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="pwd" placeholder="Password">
          </div>
          <div class="login-checkbox">
            <label>
              <input type="checkbox" value="">Remember me</label>
            <label style="float:right;">
              <a href="#" style="color:#ff2e44">Forgotten Password?</a>
            </label>
          </div>
          <button class="btn btn-primary" id="btn-login">Submit</button>
        </form>
      </div>

    </div>
  </div>

</div>
<nav *ngIf="!login" class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">BITTREX
    <span>CLONE</span>
  </a>
  <div class="collapse navbar-collapse  d-flex flex-row-reverse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-envelope"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Message 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Message 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Message 3</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fa fa-bell"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Noti 1</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Noti 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Noti 3</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div *ngIf="!login" class="col-sm-2 col-lg-2 sidenav">
    <div class="profile-sidebar">
      <div class="profile-userpic">
        <img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt="">
      </div>
      <div class="profile-usertitle">
        <div id="id" class="profile-usertitle-name">{{username}}</div>
        <div class="profile-usertitle-status">
          <span class="indicator label-success"></span>Online</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <!-- SIDEBAR ITEM -->
    <ul class="nav menu">
      <li>
        <a routerLink="dashboard">
          <i class="fa fa-dashboard">&nbsp;</i> Dashboard</a>
      </li>
      <li>
        <a data-toggle="collapse" href="#manageUserCollapsible" role="button">
          <i class="fa fa-angle-down">&nbsp;</i> Member Management</a>
        <ul class="collapse" id="manageUserCollapsible">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" href="#manageAdminCollapsible">
          <i class="fa fa-angle-down">&nbsp;</i> Admin Management</a>
        <ul class="collapse" id="manageAdminCollapsible">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" href="#manageOrderCollapse">
          <i class="fa fa-angle-down">&nbsp;</i> Order Management</a>
        <ul class="collapse" id="manageOrderCollapse">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </li>
      <li>
        <a data-toggle="collapse" href="#manageTransactionCollapse">
          <i class="fa fa-angle-down">&nbsp;</i> Transaction Management</a>
        <ul class="collapse" id="manageTransactionCollapse">
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>
      </li>
      <li>
        <a href="#">
          <em class="fa fa-envelope">&nbsp;</em> Activity History</a>
      </li>
      <li>
        <a (click)="doLogout()">
          <em class="fa fa-power-off">&nbsp;</em> Logout</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-10 col-lg-10">
    <router-outlet></router-outlet>
  </div>
</div>
