body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: red;
}

.navbar{
    background-color: #222;
}
.nav-link{
    color: white;
}
.dropdown-menu{
    right: 0;
    left: auto;
}
.dropdown{
    margin: 0px 8px;
}
.navbrand{
   color:  #30a5ff;
}
.navbar-brand >span{
    color: white;
}
.sidenav{
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    background-color: #fff;
    overflow-x:hidden ;
}
.sidenav a{
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover{
    color: #f1f1f1;
}
.divider, .clear{
    clear: both;
}
.profile-sidebar{
    padding: 10px 0;
    border-bottom: 1px solid #e9ecf2;
}
.profile-userpic img{ 
float: left;
margin: 10px 0px 0px 15px;
width: 50px;
height: 50px;
border-radius: 9999px;
}
.profile-usertitle {
    float: left;
    text-align: left;
    margin: 10px 0 0 12px;
}
.profile-usertitle-name{
    font-size: 20px;
    margin-bottom: 0px;
}
.profile-usertitle-status{
    text-transform: uppercase;
    color: #AAA;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}
.indicator{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 9999px;
    margin-right: 5px;
}
.label-success{
    background-color: #8ad919;
}
/* MENU SIDEBAR ITEM*/
.nav{
    padding-left: 0;
    list-style-type: none;
}
.nav>li{
    position: relative;
    display: block;
}
.profile-sidebar ul.nav li a {
    height: 50px;
    line-height: 2em;
}
.menu>li{
    width: 100%;
    position: relative;
    display: block;
}
.menu{
    margin: 20px 0;
}
.menu>li>a{
height: 50px;
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 400;
}

.active a {
    background-color: #30a5ff;
    color: #fff;
}

/* CSS FOR LOGIN FORM. */
.loginForm{
    background-color: #e5e5e5;
    height: 100vh;
}
.login-wrap{
    max-width: 540px;
    padding-top: 8vh;
    margin: 0 auto;

}
.login-content{
    background-color: #fff;
    padding: 30px 30px 20px;
    border-radius: 2px;
}
.login-logo{
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    margin-bottom: 1rem;
}
.form-group label{
    display: block;
}
#btn-login{
    background-color: #63c76a;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 1%;
    box-shadow: none;
    line-height: 2em;
}
#btn-login:hover{
    background-color: #54a85a;
}
form{
    padding: 0;
}
.alert{
    max-width: 540px;
    margin: auto;
    margin-bottom: 10px;
}
.menu a{
    cursor: pointer;

}