.row-search{
    margin-top: 4.7vh;
    padding-right:1vw; 
    padding-bottom: 0.8vh;
}
.search-form{
    padding-bottom: 1vh;
}
.form-inline{
    display: inline-block;
}
.btn-filter,.btn-refresh{
    color: white;
    background-color: #2199e8;
    margin-bottom: 0.3vh;
}
span{
    padding-right: 0.5vw;
}
.form-inline{
    padding-right:0.5vw;
}