<div class="row row-search">
  <div class="col-sm-9 col-md-9">
   <!-- 1. datepicker FROM in the popup -->
   <span>From</span>
<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd"
             name="dp" [(ngModel)]="start" ngbDatepicker #a="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" (click)="a.toggle()" type="button">
          <i class="fa fa-calendar"></i>
        </button>
      </div>
    </div>
  </div>
</form>

  <!-- 2. datepicker TO in the popup -->
  <span>To</span>
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd"
               name="dp" [(ngModel)]="stop" ngbDatepicker #b="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" (click)="b.toggle()" type="button">
            <i class="fa fa-calendar"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
  <!-- 3.Button for filter by range. -->
  <button class="btn btn-light btn-filter" (click)="filterRange()">GO</button>
  <button class="btn btn-light btn-refresh" (click)="refreshFilter()"><i class="fa fa-undo"></i></button>


  </div>
  <div class="offset-sm-2 offset-md-2 col-sm-1 col-md-1">
    <select (change)="filter_pair($event.target.value)">
      <option value="">Select pair</option>
      <option value="USDT-BCH">USDT-BCH</option>
      <option value="USDT-BTC">USDT-BTC</option>
      <option value="USDT-ETH">USDT-ETH</option>
      <option value="USDT-ETH">USDT-XRP</option>
      <option value="BTC-BCH">BTC-BCH</option>
      <option value="BTC-ETH">BTC-ETH</option>
      <option value="BTC-XRP">BTC-XRP</option>
      <option value="ETH-BCH">ETH-BCH</option>
      <option value="ETH-XRP">ETH-XRP</option>
    </select>
  </div>
</div>
<div class="row row-table">
  <div class="col-sm-12 col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Pair</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Created_at</th>

          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let obj of list | paginate: {id:'pagination',itemsPerPage:limit,currentPage:p,totalItems:total};let i = index">
            <td>{{obj.id}}</td>
            <td>{{obj.pair}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.quantity}}</td>
            <td>{{obj.total_cost}}</td>
            <td>{{obj.created_at}}</td>
          </tr>
        </tbody>
      </table>
      <!-- PAGINATION-CONTROLLER FOR SERVER_SIDE PAGINATION. -->
      <div class="has-text-centered">
          <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
          <pagination-controls class="pagination-user" (pageChange)="getPage($event)" id="pagination"></pagination-controls>
        </div>
    </div>
  </div>
</div>