.card{
    color: #fff;
    /* width: 100%; */
    margin-top: 1vh
}
.card:first{
    margin-top: 0
}
.slight {
    font-size: 11px;
    font-weight: 300;
}
.label-accent {
    background-color: #f6a821;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.row{
    /* margin-top: 7vh */
}
