<div id="embed-api-auth-container" hidden>
</div>
<div id="view-selector-container" hidden></div>
<div id="view-name" hidden></div>

<div class="row">
    <div class="col-md-2">
        <!-- <div class="row"> -->
        <div class="card bg-secondary">
            <div class="card-body totalUsers">
                <h3><span id="totalUsersNum"></span><i class="fa fa-play slight"></i><span class="slight" id="percentageUsers"></span></h3>
                <p>Total users</p>
                <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">updated to present</span>
                </div>
            </div>
        </div>
        <div class="card bg-secondary">
            <div class="card-body visitors">
                <h3><span id="totalVisitorsNum"></span><i class="fa fa-play slight"></i><span id="percentageVisitors" class="slight"></span></h3>
                <p>Total visitors</p>
                <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">updated to present</span>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

    <div class="col-md-6">
        <div class="card bg-secondary">
            <div class="card-body">
                <h4>New visitor<span class="slight"><i class="fa fa-play fa-rotate-270 text-warning slight"></i>+55%</span></h4>
                <iframe width="614.5" height="204" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQUfFc-aQWoiJy-6CJUk47NTwpc8BSGxaccywbm4H9W0FOmpVJ9sFxX6wIBkV587K6Lwb78enGjNpSj/pubchart?oid=425827569&amp;format=interactive"></iframe>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-secondary">
            <div class="card-body">
                <div id="active-users-container"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-secondary">
                    <div class="card-body sessions">
                        <h3><span id="totalSessionsNum"></span><i class="fa fa-play text-warning slight"></i><span id="percentageSessions"
                                class="slight"></span></h3>
                        <p>% New Sessions</p>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">updated
                                to present</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-secondary">
                    <div class="card-body rate">
                        <h3><span id="totalBounceRateNum"></span><i class="fa fa-play text-warning slight"></i><span id="percentageBounceRate"
                                class="slight"></span></h3>
                        <p>Bounce Rate</p>
                        <div class="slight m-t-sm"><i class="fa fa-clock-o"> </i> Updated: <span class="c-white">updated
                                to present</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-md-6">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQUfFc-aQWoiJy-6CJUk47NTwpc8BSGxaccywbm4H9W0FOmpVJ9sFxX6wIBkV587K6Lwb78enGjNpSj/pubchart?oid=1361108866&amp;format=interactive"></iframe>
    </div>
    <div class="col-md-6">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQUfFc-aQWoiJy-6CJUk47NTwpc8BSGxaccywbm4H9W0FOmpVJ9sFxX6wIBkV587K6Lwb78enGjNpSj/pubchart?oid=1324310717&amp;format=interactive"></iframe>
    </div>
</div>