tbody a {
    display: block;
}
tbody a:hover {
cursor:pointer;
color: red;
text-decoration: none;
}
td>:first-child{
    margin-right: 1rem;
}
.row-search{
margin-top: 4.7vh;
padding-right:1vw; 
}
.table-responsive{
    padding-right:1vw; 
}
.search-form{
padding-bottom: 1vh;
}
.btn-outline-dark, .btn-outline-dark:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.btn-outline-dark{
    box-sizing: content-box;
    min-width: 60px;
}
form button:first-child{
    margin-right: 12px;
}

.validate-warning{
font-size: 0.85em;
color: red;
}
.pagination-user .ngx-pagination{
    padding: 0;
} 
td a{
    color: #007bff;
}
