<!-- SEARCH BAR AND +NEW ORDER BUTTON -->
<div class="row row-search">
  <div class="col-sm-5 col-md-5">
    <select (change)="filter_pair($event.target.value)">
      <option value="">Select pair</option>
      <option value="USDT-BCH">USDT-BCH</option>
      <option value="USDT-BTC">USDT-BTC</option>
      <option value="USDT-ETH">USDT-ETH</option>
      <option value="USDT-ETH">USDT-XRP</option>
      <option value="BTC-BCH">BTC-BCH</option>
      <option value="BTC-ETH">BTC-ETH</option>
      <option value="BTC-XRP">BTC-XRP</option>
      <option value="ETH-BCH">ETH-BCH</option>
      <option value="ETH-XRP">ETH-XRP</option>
    </select>

    <select (change)="filter_type($event.target.value)">
      <option value="">Select type</option>
      <option value="sell">Sell</option>
      <option value="buy">Buy</option>
    </select>
    <select (change)="filter_status($event.target.value)">
      <option value="">Select status</option>
      <option value="0">Cancel</option>
      <option value="1">Complete</option>
      <option value="2">Waiting</option>
    </select>
    <select (change)="filter_valid($event.target.value)">
      <option value="">Select state</option>
      <option value="processing">Processing</option>
      <option value="created">Created</option>
      <option value="failed">Failed</option>
    </select>
    <button type="button" (click)="filter()">Filter</button>
  </div>
  <div class="offset-sm-5 offset-md-5 col-sm-2 col-md-2">
    <div class="input-group search-form">
      <input class="form-control border-secondary" type="search" placeholder="search" [(ngModel)]="keyword">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)=search(keyword)>
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- TABLE FOR DISPLAYING DATA. -->
<div class="row row-table">
  <div class="col-sm-12 col-lg-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th c>ID</th>
            <th c>Pair</th>
            <th c>Type</th>
            <th *ngIf="!boolean_search">Price</th>
            <th *ngIf="!boolean_search">Amount</th>
            <th>Created_by</th>
            <th>Created_at</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of list | paginate: {id:'pagination',itemsPerPage:limit,currentPage:p,totalItems:total};let i = index"
            [ngSwitch]="order.status">
            <td>{{order.id}}</td>
            <td>{{order.pair}}</td>
            <td>{{order.type}}</td>
            <td *ngIf="!boolean_search">{{order.price}}</td>
            <td *ngIf="!boolean_search">{{order.amount}}</td>
            <td>{{order.userId}}</td>
            <td>{{order.created_at | date: 'dd-MM-yyyy hh:mm:ss'}}</td>
            <td *ngSwitchCase="'0'">Cancel</td>
            <td *ngSwitchCase="'1'">Complete</td>
            <td *ngSwitchCase="'2'">Waiting</td>
            <td>
              <a href="javascript:void(0)" style="display:inline-block" (click)="getDetail(i,detail)">
                <i class="fa fa-info-circle"></i>
              </a>
              <a href="javascript:void(0)" style="color:red;display:inline-block" (click)="doDelete(i,confirm)">
                <i class="fa fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- PAGINATION-CONTROLLER FOR SERVER_SIDE PAGINATION. -->
      <div class="has-text-centered">
        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <pagination-controls class="pagination-user" (pageChange)="getPage($event)" id="pagination"></pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- MODAL DETAIL Order. -->

<ng-template class="modal" #detail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Detail Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">ID</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.id">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Pair</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.pair">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.type">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.price">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.amount">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Fee</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.fee">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Actual Rate</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.actual_rate">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Created_at</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.created_at">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Updated_at</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.updated_at">
        </div>
      </div>
      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Status</label>
        <div class="col-sm-8" [ngSwitch]="detailObj.status">
          <input *ngSwitchCase="'0'" type="text" class="form-control" id="detail_2fa" name="id" readonly value="Cancel">
          <input *ngSwitchCase="'1'" type="text" class="form-control" id="detail_2fa" name="id" readonly value="Complete">
          <input *ngSwitchCase="'2'" type="text" class="form-control" id="detail_2fa" name="id" readonly value="Waiting">
        </div>
      </div>

      <div class="form-group row">
        <label for="detail_2fa" class="col-sm-3 col-form-label">Valid</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="detail_2fa" name="id" readonly [value]="detailObj.valid">
        </div>
      </div>
      <button type="button" style="float: right;" class="btn btn-outline-dark" (click)="c()">
        <i class="fa fa-ban"></i> Close</button>
    </form>
  </div>

</ng-template>

<!-- MODAL CONFIRM DELETE ORDER. -->
<ng-template class="modal" #confirm tabindex="-1" let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Do you want to cancel this Order?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      This Order
      <span style="color:red">{{orderId}}</span> will be canceled immediately!
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="delete(waitingModal)">Yes, do it!</button>
    <button type="button" class="btn btn-outline-dark" (click)="d('Cross click')">No, it's a mistake</button>
  </div>
</ng-template>

<!-- MODAL WAITING. -->
<ng-template class="modal" #waitingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hold on... </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!boo_success">
      <img src="../../assets/Dual Ring-1s-13px.svg" alt="X">&nbsp;Be patient! The server is processing!
    </div>
    <div *ngIf="boo_success">
      {{msg_success}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c()" [disabled]="!boo_success">Ok</button>
  </div>
</ng-template>